﻿.validation-summary-valid
{
  display: none;
}

.validation-summary-errors
{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  color: #b94a48;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.validation-summary-errors > span
{
  font-weight: bold;
}

.validation-summary-errors ul
{
  list-style: none;
  margin: 5px 5px 0;
}

.checkbox.input-validation-error,
.radio.input-validation-error,
input.input-validation-error,
select.input-validation-error,
textarea.input-validation-error
{
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-color: #b94a48;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #b94a48;
}

.checkbox.input-validation-error:focus,
.radio.input-validation-error:focus,
input.input-validation-error:focus,
select.input-validation-error:focus,
textarea.input-validation-error:focus
{
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  border-color: #953b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}