﻿@model LogOnForm
@{
  ViewBag.Title = "Log On";
}

<div class="row">
  <div class="span4 offset4">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      <fieldset>
        <legend>Log On</legend>
        @Html.ValidationSummary("Please correct the following errors:")
        @Html.LabelFor(m => m.Email)@Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Password)@Html.PasswordFor(m => m.Password)
        <div class="form-actions"><input class="btn btn-primary" type="submit" value="Log On" /></div>
      </fieldset>
    }
  </div>
</div>

@section Scripts
{
  <script type="text/javascript">
    require(['jquery', 'lib/jquery/validate', 'lib/jquery/validate.unobtrusive'], function ($) {
      $(function () {
        setTimeout(function () {
          $("#Email").focus();
        }, 25);
      });
    });
  </script>
}
