﻿@{ViewBag.Title = "Welcome!";}

<div class="row">
  <div class="span12">
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna enim, pellentesque sit amet vehicula ac, adipiscing sed ligula. Proin vehicula nibh a lectus fermentum at facilisis sem fermentum. Pellentesque malesuada porta varius. Mauris facilisis libero sed tortor mattis pellentesque. Sed non massa lectus, at fermentum nisi. Donec eget pellentesque diam. Etiam arcu tellus, fringilla ac ullamcorper sed.</p>
  </div>
  <div class="span12">
    <h3>Nullam rutrum</h3>
    <p>Nullam rutrum orci quis risus sodales interdum. Morbi dignissim imperdiet rutrum. Nullam malesuada auctor nisi, eget dapibus dui porttitor eget. Sed urna leo, sagittis a eleifend vel, ultrices vel metus. Cras at orci tortor, ut volutpat elit. Nullam sit amet orci enim. Phasellus at sapien quam. Sed scelerisque enim ligula, a rutrum urna. Aenean sit amet nisl massa, et posuere orci. Quisque sit amet arcu quam, eu imperdie.</p>
  </div>
</div>