﻿@model  MediaEinstein.Web.Models.Authentication.EmailChangeRequestModel
<div id="ChangePasswordModal"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change Password</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "ChangeEmailAddress"})" method="POST" enctype="application/x-www-form-urlencoded">
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.OldEmail)
            <div class="control-group">
                @Html.LabelFor(m => m.NewEmail, new { @class = "control-label"})
                <div class="controls">
                    @Html.TextBoxFor(m => m.NewEmail, new { placeholder = "New Email"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmNewEmail, new { @class = "control-label"})
                <div class="controls">
                    @Html.TextBoxFor(m => m.ConfirmNewEmail, new { placeholder = "Confirm New Email"})
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-action="submit">Save</button>
    </div>
</div>