﻿@model MvcTemplate.Web.Models.LogOnForm
@{
  ViewBag.Title = "Log On";
}

<div class="row">
  <div class="span8 offset8">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      <fieldset>
          <legend>Log On</legend>
          <div id="RegisterSuccess" class="alert alert-success" style="display: none;">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>Success!</h4>
              Your registration was successful. Please login below. 
          </div>
        @Html.ValidationSummary("Please correct the following errors:")
        @Html.LabelFor(m => m.Email)@Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Password)@Html.PasswordFor(m => m.Password)
        <div class="form-actions"><input class="btn btn-primary" type="submit" value="Log On" /></div>
      </fieldset>
    }
  </div>
</div>

@section Scripts
{
  <script type="text/javascript">
    require(['jquery', 'lib/jquery/validate', 'lib/jquery/validate.unobtrusive', 'lib/bootstrap/alert'], function ($) {
      $(function () {
        setTimeout(function () {
          $("#Email").focus();
        });

        if (window.location.href.indexOf('registered=1') > 0) {
            $('#RegisterSuccess').slideDown();
        }
      });
    });
  </script>
}
