﻿@using System.Web.Optimization
@{
    var controller = (string) ViewContext.RouteData.Values["controller"];
}
<!doctype html>
<html lang="en">
    <head>
        @Html.Partial("_MetaTags")
        <title>MvcTemplate - @ViewBag.Title</title>
        @Styles.Render("~/bundles/bootstrap")
        @Styles.Render("~/bundles/css/site")

        @RenderSection("Styles", false)
        
        <script>
            var require = {
                baseUrl: '@(Context.IsDebuggingEnabled ? "/Scripts" : "/Scripts/minified/" + Context.Application["Version"])',
                enforceDefine: true,
                paths: {
                    jquery: ['https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1', 'lib/jquery/jquery'],
                    knockout: ['https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.debug', 'lib/knockout/knockout']
                }
            };
        </script>

        @Scripts.Render("~/bundles/js/require")

        <script> require(['site.init']); </script>

        @RenderSection("Scripts", false)
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">MvcTemplate</a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li @if (controller == "Users")
                                    {
                                        <text>class="active"</text>
                                    }>@Html.ActionLink("Users", "Index", "Users")</li>
                            </ul>
                            <ul class="nav pull-right"><li>@(Request.IsAuthenticated ? Html.RouteLink("Log Off", "LogOff") : Html.RouteLink("Log On", "LogOn"))</li></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div id="jGrowl" class="jGrowl top-right"></div>
        <div id="ajaxFormModalContainer"></div>
    </body>
</html>